name: Despliegue on cloud
on:
  push:
    branches:
      - main
 
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: pull codigo en VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
                    cd ~/chat-pack/
                    git fetch origin main
                    git reset --hard origin/main
                    CONTAINER_IDS=$(docker ps -a | grep "chat-pack:latest" | awk '{print $1}')
                    if [ ! -z "$CONTAINER_IDS" ]; then
                      echo "Stopping containers: $CONTAINER_IDS"
                      docker stop $CONTAINER_IDS
                      echo "Removing containers: $CONTAINER_IDS"
                      docker rm $CONTAINER_IDS
                    else
                      echo "No containers found for image 'chat-pack:latest'"
                    fi
                    docker build -t chat-pack .
                    docker run --network=chat-pack-net -d chat-pack:latest
